#
# The mdadm 'global' section is for options that apply to all sections.
#

config mdadm global

	#
	# option 'alert_program' values may be a path to a valid, executable binary.
	#
	# The default 'alert_program' is not set.
	#
	# When mdadm detects an event it will execute this program with 3 arguments, see https://linux.die.net/man/8/mdadm
	# $1 = will be the event
	# $2 = will be the meta device
	# $3 = may be a related component (if one exists)
	#
	# * alert_program runs independently from sendmail.
	# * If both options alert_program and email are set, and both work, then an email and a
	#   custom alert will be generated.
	# * no alert program is included in mdadm 4.0-4.
	#
	# Lots of possibilities exist, i.e. scripts for netdata, slack, etc.
	#
	#option alert_program /usr/sbin/mdadm_alerts


	#
	# option 'config' values may be one of the following.
	#
	# The default 'config' is none (stateless auto assembly).
	#
	# auto		- stateful, dynamically generated mdadm.conf via block info,
	#		  stored in /var/etc/mdadm.conf
	# containers	- stateless, mdadm --assemble --scan --config=containers; see https://linux.die.net/man/8/mdadm
	# none		- stateless, mdadm --assemble --scan --config=none; aka 'Auto Assembly',
	#		  see https://linux.die.net/man/8/mdadm
	# partition	- stateless, mdadm --assemble --scan --config=partition; see https://linux.die.net/man/8/mdadm
	# uci		- stateful, dynamically generated mdadm.conf via uci array values (below),
	#		  stored in /var/etc/mdadm.conf
	# file		- stateful, manually generated mdadm.conf file(s),
	#		  'file' must be preceded by a / and may be a readable filename
	#		  or directory with multiple .conf files
	#
	# Try uncommenting this and using 'auto' if there are issues.  It provides more comprehensive
	# diagnostics via verbose messages & the ability to set an email from address.
	#
	#option config auto


	#
	# option 'email' values may be a valid (to) email address, or empty.
	#
	# The default 'email' to send to is root (monitor email will be sent to the local root user).
	#
	# * Sending mail will only work if /usr/lib/sendmail or /usr/sbin/sendmail is available. Install postfix.
	# * Comment, or unset, the email value causes mail to be disabled.  With no email value, mdadm wont even try.
	# * A single word name must be a valid user on the system, or it will bounce back to root.
	#   Unless user 'mdadm' exists (it doesn't by default), this will bounce:
	#   option email mdadm
	# * A full email address does not need quoting and will deliver if tcp port 25 (SMTP) is allowed outbound, i.e.
	#   option email joseph.tingiris@gmail.com
	# * mdadm only supports one email address (MAILADDR) for all arrays. see mdadm.conf(5)
	#
	# mail will be to 'root@$HOSTNAME', i.e. root@OpenWrt
	#
	option email root


	#
	# option 'email_from' values may be a valid (from) email address, or empty.
	#
	# The default 'email_from' is 'OpenWrt RAID Monitoring <mdadm@$HOSTNAME>', i.e. mdadm@OpenWrt
	#
	# * Sending mail will only work if /usr/lib/sendmail or /usr/sbin/sendmail is available. Install postfix.
	# * Comment, or unset, the email_from value causes mdadm to send mail from
	#   root@$HOSTNAME, e.g. root@OpenWrt
	# * A complete from envelope can be specified within quotes, i.e.
	#   option email_from 'mdadm monitoring <this_is_not_spam@example.com>'
	# * mdadm only supports setting a from address (MAILFROM) with a stateful config,
	#   e.g. 'auto' or 'uci'. see mdadm.conf(5)
	#
	# mail will be from 'OpenWrt RAID Monitoring <mdadm@$HOSTNAME>', i.e. mdadm@OpenWrt
	#
	option email_from 'OpenWrt RAID Monitoring <mdadm>'


	#
	# option 'monitor_frequency' values may be a valid integer, or empty.
	#
	# The default monitor frequency (delayed poll) is 120 seconds.
	#
	# * This is the polling interval, frequency, or delay.  It's the value for mdadm --delay.  see https://linux.die.net/man/8/mdadm
	#
	option monitor_frequency 300

	#
	# option 'verbose' values may be '1', 'on', or 'true', everything else is false.
	#
	# The default verbosity is false (quiet).
	#
	# * Standard errors will be sent to console and syslog regardless of this setting.
	# * When verbose is false mdadm will run in --quiet mode and generate very little log
	#   or standard output.
	#
	# Turn this on if you're having problems, or want more detail.  With SSH_TTY set output will
	# be to that TTY, otherwise it will go to syslog via logger.
	#
	#option verbose on


#
# The mdadm 'array' section(s) are for stateful, manual configurations. Experts only.  Use with caution.
#
#
# The use of multiple 'array' sections is supported by /etc/init.d/mdadm.
# They must all be named 'array'.
#
# As of this writing unnamed 'mdadm' sections are still allowed, but deprecated. Do not use.
#

#config array
	#
	# example 'array' options may be a valid mix of:
	#
	# bitmap
	# container
	# device
	# devices
	# member
	# name
	# spare_group
	# spares
	# super_minor
	# uuid
	#
	# option bitmap /bitmap.md
	# option container 00000000:00000000:00000000:00000000
	# option device /dev/md0
	# -and/or a devices list-
	# list devices /dev/hd* # mdadm allows glob, see glob(7)
	# list devices /dev/sd*
	# list devices /dev/sda1
	# list devices /dev/sdb1
	# list devices containers
	# list devices partitions
	# option member 1
	# option name raid:0
	# option spare_group spares
	# option spares 0
	# option super_minor 0
	# use uuid from block info (preferred), or mdadm --misc --detail /dev/md0
	# option uuid 2084de11-70c4-4521-8f95-6113e75f1fe9
	#
	# These options directly translate to mdadm -- options, see https://linux.die.net/man/8/mdadm
